<div class="row step-title">
  <div class="col-md-8 wow fadeInUp">
    <h3 id="step3-title"><%= @phase.name %> for <%= @lead.name %></h3>
  </div>
  <div class="col-md-4 text-center wow zoomInDown" data-wow-delay="0.5s" id="done_button_step3">
    <%= render partial: 'leads/show/step3/lead_done_button'%>
  </div>
</div>
<div class="row">
  <div class="col-md-8" id="selected_properties">
    <%= render partial: 'leads/show/step3/selected_properties' %>
  </div>
  <div class="col-md-4" id="status_updates_step3">
    <%= render partial: 'leads/show/step3/status_updates' %>
  </div>
</div>
