<section id="internal-hero">
  <div class="hero-container" style="background-image: url(<%= asset_path "hero-bg.jpg" %>); background-position: center;">
  </div>
</section>

<main class="main">
  <section id="edit-owner" class="header wow fadeInUp" style="padding: 60px 0 60px 0">
    <div class="container">
      <%= form_for @owner do |f| %>
        <div class="row">
          <div class="col-md-12">
            <h4>General information</h4>
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="col-md-6 input">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, placeholder: "Owner's name", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-3 input">
            <div class="form-group">
              <%= f.label :phone_country_code do %>Country code *<% end %>
              <%= f.country_select :phone_country_code, { priority_countries: ["MT", "IT", "GB"], priority_countries_divider: "~~~~~~"}, {class: "form-control countries"} %>
            </div>
          </div>
          <div class="col-md-3 input">
            <div class="form-group">
              <%= f.label :phone_number %>
              <%= f.text_field :phone_number, placeholder: "Owner's phone number", readonly: true, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="col-md-12 input">
            <div class="form-group">
              <%= f.label :additional_info %><br/>
              <%= f.text_area :additional_info, rows: 3 %>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="col-md-6">
            <div class="actions" style="padding: 20px 15px 0 15px;">
              <%= f.submit "Cancel", class: "btn btn-secondary btn-block" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="actions" style="padding: 20px 15px 0 15px;">
              <%= f.submit "Save", class: "btn btn-normal btn-block" %>
            </div>
          </div>
        </div>
        <% end %>
    </div>
    <hr/>
  </section>
</main>
