<%= form_with model: @property, url: editor_create_property_properties_path do |f| %>
  <%= f.hidden_field :listed_by, value: current_user.id %>
  <%= f.hidden_field :contract_type, value: "Rent" %>
  <%= f.hidden_field :payment_format, value: "Monthly" %>
  <%= f.hidden_field :owner_phone_country_code, value: @property_owner.phone_country_code %>

  <div class="row">
    <div class="col-md-12">
      <h4>New property for rent</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 input">
      <div class="form-group wow fadeIn" data-wow-delay="0.1s">
        <%= f.label :area_id do %>Area *<% end %>
        <%= f.collection_select :area_id, Area.order(:id), :id, :area, {prompt: "Select Area..."}, {id: "property_area_select"} %>
      </div>
    </div>
    <div class="col-md-3 input">
      <div class="form-group wow fadeIn" data-wow-delay="0.2s">
        <%= f.label :availability_date do %>Availability date *<% end %>
        <%= f.text_field :availability_date, placeholder: "Select a date", class: "form-control", readonly: true %>
      </div>
    </div>
    <div class="col-md-3 input">
      <div class="form-group wow fadeIn" data-wow-delay="0.3s">
        <%= f.label :owner_phone_number do %>Owner's phone number *<% end %>
          <%= f.autocomplete_field :owner_phone_number, autocomplete_owner_phone_number_owners_path,
                        'data-auto-focus' => false,
                        'data-noMatchesLabel' => "No existing owners have been found",
                        :update_elements => { :name => '#owner_name'},
                        :placeholder => 'Type to find or create...',
                        :value => @property_owner.phone_number,
                        :readonly => true,
                        :class => "form-control"
                        %>
      </div>
    </div>
    <div class="col-md-3 input">
      <div class="form-group wow fadeIn" data-wow-delay="0.4s">
        <%= f.label :owner_name do %>Update owner's name<% end %>
        <% if defined?(@property_owner.phone_number) %>
          <%= f.text_field :owner_name, class: "form-control", placeholder: "Enter the owner's name", id: "owner_name", value: @property_owner.name, readonly: true  %>
        <% else %>
          <%= f.text_field :owner_name, class: "form-control", placeholder: "Enter the owner's name", id: "owner_name"  %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-3 input">
      <div class="form-group wow fadeIn">
        <%= f.label :location_id do %>Location *<% end %>
        <%= f.grouped_collection_select :location_id, Area.order(:id), :locations, :area, :id, :name, {prompt: "Select Location..."}, {id: "property_location_select"} %>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row wow fadeIn">
    <div class="col-md-4 input">
      <div class="form-group">
        <%= f.label :property_type %>
        <%= f.select :property_type, options_for_select(Property.property_types.map { |key, value| [key.humanize, key] }, \
                            :disabled => ["Land", "Bar", "Cafeteria", "Corner shop",
                            "Dive centre", "Office", "Office room", "Warehouse", "Clinic",
                            "Restaurant", "Catering", "Salon", "Showroom", "Shop"]),
                            {prompt: "Select Type of Property..."}, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4 input">
      <div class="form-group">
        <%= f.label :bedrooms %>
        <%= f.number_field :bedrooms, in: 1..10, step: 1, placeholder: "Enter the number of bedrooms", class: "form-control"  %>

      </div>
    </div>
    <div class="col-md-4 input">
      <div class="form-group">
        <%= f.label :bathrooms %>
        <%= f.number_field :bathrooms, in: 1..10, step: 1, placeholder: "Enter the number of bathrooms", class: "form-control"  %>
      </div>
    </div>
  </div>
  <div class="row fadeIn">
    <div class="col-md-4 input">
      <div class="form-group">
        <%= f.label :balconies %>
        <%= f.number_field :balconies, in: 1..1000, step: 1, placeholder: "Enter the number of balconies", class: "form-control"  %>
      </div>
    </div>
    <div class="col-md-4 input">
      <div class="form-group">
        <%= f.label :style %>
        <%= f.select :style, options_for_select(Property.styles.map { |key, value| [key.humanize, key] }),
                      id: "property_style", prompt: "Select...", class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4 input">
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, placeholder: "Enter property's address", class: "form-control"  %>
      </div>
    </div>
  </div>
  <div class="row wow fadeIn">
    <div class="col-md-4 input">
      <div class="form-group">
        <%= f.label :price do %>Monthly Price (€)<% end %>
        <%= f.number_field :price, in: 1..20000, step: 1, placeholder: "Enter monthly rent amount", class: "form-control"  %>
      </div>
    </div>
  </div>
  <div class="row wow fadeIn">
    <div class="col-md-2 input">
      <div class="form-group">
        <div class="checkbox-inline">
          <%= f.label :ac do %>
            <%= f.check_box :ac %> Air-Conditioner
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2 input">
      <div class="form-group">
        <div class="checkbox-inline">
          <%= f.label :roof do %>
            <%= f.check_box :roof %> Use of roof
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2 input">
      <div class="form-group">
        <div class="checkbox-inline">
          <%= f.label :yard do %>
            <%= f.check_box :yard %> Yard
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2 input">
      <div class="form-group">
        <div class="checkbox-inline">
          <%= f.label :seafront do %>
            <%= f.check_box :seafront %> Sea front
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2 input">
      <div class="form-group">
        <div class="checkbox-inline">
          <%= f.label :seaview do %>
            <%= f.check_box :seaview %> Sea view
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2 input">
      <div class="form-group">
        <div class="checkbox-inline">
          <%= f.label :swimming_pool do %>
            <%= f.check_box :swimming_pool %> Swimming pool
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row fadeIn">
    <div class="col-md-2 input">
      <div class="form-group">
        <div class="checkbox-inline">
          <%= f.label :jacuzzi do %>
            <%= f.check_box :jacuzzi %> Jacuzzi
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2 input">
      <div class="form-group">
        <div class="checkbox-inline">
          <%= f.label :unfurnished do %>
            <%= f.check_box :unfurnished %> Unfurnished
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2 input">
      <div class="form-group">
        <div class="checkbox-inline">
          <%= f.label :pet_friendly do %>
            <%= f.check_box :pet_friendly %> Pet friendly
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row fadeIn">
    <div class="col-md-4 input">
      <div class="row">
        <div class="checkbox-inline">
          <%= f.label :flat_no, id: "flat_no_label" do %>
            The owner has more than one property like this
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="checkbox-inline" style="display:flex;">
          <label class="switch">
            <input type="checkbox" id="flat_no_check">
            <span class="switch slider round"></span>
          </label>
          <div class="form-group" style="width:100%;">
            <%= f.text_field :flat_no, placeholder: "Enter flat, property or room number", value: nil, class: "form-control wow fadeIn", id: "flat_no_field", style: "display:none; margin: 0 0 0 20px; width:90%;"%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row fadeIn">
    <div class="col-md-12 input">
      <div class="form-group">
        <%= f.label :obs %><br/>
        <%= f.text_area :obs, rows: 3 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="actions" style="padding: 10px 15px 0 15px;">
        <%= f.submit "Save", name: "editor_save_new", class: "btn btn-normal btn-block" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="actions" style="padding: 10px 15px 0 15px;">
        <%= f.submit "Save and add photos", name: "editor_save_and_add_photos",class: "btn btn-normal btn-block" %>
      </div>
    </div>
  </div>
<% end %>
