<section id="internal-hero">
  <div class="hero-container" style="background-image: url(<%= asset_path "hero-bg.jpg" %>); background-position: center;">
  </div>
</section>

<main class="main">
  <section id="devise-edit-profile" class="header wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="section-header" style="padding:60px 0 0 0;">
          <h3>Change password</h3>
        </div>
      </div>
      <%= form_for current_user, url: user_registration_path, method: :put do |f| %>
      <%= render 'shared/devisemes' %>
        <div class="row">
          <div class="col-md-3">
            <%= render 'users/registrations/edit_profile_menu' %>

          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 input">
                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "off", placeholder: "New Password (leave blank if you don't want to change it)", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-6 input">
                <div class="form-group">
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3 input">
                <div class="form-group">
                  <%= f.password_field :current_password, autocomplete: "off", id: "current_password", placeholder: "Current password", class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <div class="actions" style="padding: 20px 15px 0 15px;">
                <%= f.submit "Save", class: "btn btn-normal btn-block" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</main>
